@import "tailwindcss";


@font-face {
  font-family: 'font1';
  src: url('/font1.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'font2';
  src: url('/font2.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}